@page
@model GMD.Pages.affichageModel
@{
    ViewData["Title"] = "DoctoLibre";
    int disNumber, drugNumber, cureNumber;
    if(Model.diseases == null){disNumber = 0;}
    else{disNumber = Model.diseases.Count;}
    if (Model.drugs == null) { drugNumber = 0; }
    else { drugNumber = Model.drugs.Count; }
    if (Model.drugsCure == null) { cureNumber = 0; }
    else { cureNumber = Model.drugsCure.Count; }
}
<div class="container">
    <div class="logoTitleFlex">
        <div class="logoFlex">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-virus" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v1.402c0 .511.677.693.933.25l.7-1.214a1 1 0 0 1 1.733 1l-.701 1.214c-.256.443.24.939.683.683l1.214-.701a1 1 0 0 1 1 1.732l-1.214.701c-.443.256-.262.933.25.933H15a1 1 0 1 1 0 2h-1.402c-.512 0-.693.677-.25.933l1.214.701a1 1 0 1 1-1 1.732l-1.214-.7c-.443-.257-.939.24-.683.682l.701 1.214a1 1 0 1 1-1.732 1l-.701-1.214c-.256-.443-.933-.262-.933.25V15a1 1 0 1 1-2 0v-1.402c0-.512-.677-.693-.933-.25l-.701 1.214a1 1 0 0 1-1.732-1l.7-1.214c.257-.443-.24-.939-.682-.683l-1.214.701a1 1 0 1 1-1-1.732l1.214-.701c.443-.256.261-.933-.25-.933H1a1 1 0 1 1 0-2h1.402c.511 0 .693-.677.25-.933l-1.214-.701a1 1 0 1 1 1-1.732l1.214.701c.443.256.939-.24.683-.683l-.701-1.214a1 1 0 0 1 1.732-1l.701 1.214c.256.443.933.261.933-.25V1a1 1 0 0 1 1-1Zm2 5a1 1 0 1 0-2 0 1 1 0 0 0 2 0ZM6 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm1 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm5-3a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z" />
            </svg>
        </div>
        <div class="titleFlex">
            <p style="font-weight: bold;">Docto</p>
            <p>Libre</p>
        </div>
    </div>    
    <br />
    <br />
    <form method="post">        
            <div class="flexInput">

                <input type="text" class="search-field" placeholder="Enter a symptom..." name="symptom">
                <input type="submit" value="Search" class="submit-button" />
            </div>         
    </form>
    <br />

    @if (Model.symptoms != null)
    {
        <div><p style="color: #f7f7f7; font-weight: bold;"> Reported symptoms : @Model.symptoms.Replace(";"," ")</p></div>
    }
    @if (Model.queryTime != "")
    {
        <span class="score">Query time : @Model.queryTime</span>
        <br /> <br />
    }
   
    <div class="row">
        <div class="col-sm-4">
             @if (Model.diseases != null)
                {
            <div>
                <p style="color: #f0ad4e; font-weight: bold; ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-virus" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v1.402c0 .511.677.693.933.25l.7-1.214a1 1 0 0 1 1.733 1l-.701 1.214c-.256.443.24.939.683.683l1.214-.701a1 1 0 0 1 1 1.732l-1.214.701c-.443.256-.262.933.25.933H15a1 1 0 1 1 0 2h-1.402c-.512 0-.693.677-.25.933l1.214.701a1 1 0 1 1-1 1.732l-1.214-.7c-.443-.257-.939.24-.683.682l.701 1.214a1 1 0 1 1-1.732 1l-.701-1.214c-.256-.443-.933-.262-.933.25V15a1 1 0 1 1-2 0v-1.402c0-.512-.677-.693-.933-.25l-.701 1.214a1 1 0 0 1-1.732-1l.7-1.214c.257-.443-.24-.939-.682-.683l-1.214.701a1 1 0 1 1-1-1.732l1.214-.701c.443-.256.261-.933-.25-.933H1a1 1 0 1 1 0-2h1.402c.511 0 .693-.677.25-.933l-1.214-.701a1 1 0 1 1 1-1.732l1.214.701c.443.256.939-.24.683-.683l-.701-1.214a1 1 0 0 1 1.732-1l.701 1.214c.256.443.933.261.933-.25V1a1 1 0 0 1 1-1Zm2 5a1 1 0 1 0-2 0 1 1 0 0 0 2 0ZM6 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm1 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm5-3a1 1 0 1 0-2 0 1 1 0 0 0 2 0Z" />
                    </svg>
                    Diseases that can cause this :<span style="font-weight:bold">       @disNumber</span>
                </p>
            </div>
            <div class="results">
                    @foreach (var disease in Model.diseases)
                    {
                        <div class="symptom">
                            <div class="disease">
                                <p class="diseaseName"><b>@(
                                disease.diseaseName[0].ToString().ToUpper() + disease.diseaseName.Substring(1)
                                )</b> </p>
                            </div>
                            <p class="cure">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-prescription2" viewBox="0 0 16 16">
                                    <path d="M7 6h2v2h2v2H9v2H7v-2H5V8h2V6Z" />
                                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1V1Zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4H4ZM3 3h10V1H3v2Z" />
                                </svg> Possible medication :
                            </p>
                            @if (disease.cures != null && disease.cures.Count != 0)
                            {
                                @foreach (var drug in disease.cures)
                                {
                                    <div class="drug">
                                        <p class="drugName">@drug.drugName</p>
                                        @if (drug.indication != "")
                                        {
                                            <p class="cure"><span class="indication"> Indication : </span> @drug.indication </p>
                                            <span class="score">Score: @drug.drugScore</span>   <span class="source">Source: @drug.sourceDoc</span>
                                    }
                                    </div>
                                }
                            }
                            else
                            {
                                <p>None</p>
                            }
                            <br>
                            <span class="score">Score: @disease.score</span>    <span class="source">Source : @disease.sourceDoc</span>
                        </div>
                        <hr class="border border-danger border-2 opacity-50">
                    }

                    </div>
                }
        </div>
        <div class="col-sm-4">
            @if (Model.drugs != null)
            {
                <div>
                    <p style="color: #f0ad4e; font-weight: bold;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-capsule-pill" viewBox="0 0 16 16">
                            <path d="M11.02 5.364a3 3 0 0 0-4.242-4.243L1.121 6.778a3 3 0 1 0 4.243 4.243l5.657-5.657Zm-6.413-.657 2.878-2.879a2 2 0 1 1 2.829 2.829L7.435 7.536 4.607 4.707ZM12 8a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm-.5 1.042a3 3 0 0 0 0 5.917V9.042Zm1 5.917a3 3 0 0 0 0-5.917v5.917Z" />
                        </svg> Drugs that can cause this :<span style="font-weight:bold">       @drugNumber</span>
                    </p>
                </div>
                <div class="results">
                        @foreach (var drug in Model.drugs)
                        {
                            <div class="symptom">
                                <div class="disease">
                                    <p class="drugName"><b>@drug.drugName</b> </p>
                                    @if (drug.toxicity != "")
                                    {
                                        <p class="toxicity"> Toxicity : @drug.toxicity </p>
                                    }

                                </div>
                                <br>
                            <p><span class="score">Score: @drug.drugScore</span>        <span class="source">Source: @drug.sourceDoc</span></p>
                            </div>
                            <hr class="border border-danger border-2 opacity-50">
                        }
                
            </div>
            }
        </div>
        <div class="col-sm-4">
            @if (Model.drugsCure != null)
            {
                <div>
                    <p style="color: #f0ad4e; font-weight: bold; ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-prescription2" viewBox="0 0 16 16">
                            <path d="M7 6h2v2h2v2H9v2H7v-2H5V8h2V6Z" />
                            <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v10.5a1.5 1.5 0 0 1-1.5 1.5h-7A1.5 1.5 0 0 1 3 14.5V4a1 1 0 0 1-1-1V1Zm2 3v10.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V4H4ZM3 3h10V1H3v2Z" />
                        </svg> Drugs that can cure this :<span style="font-weight:bold">       @cureNumber</span>
                    </p>
                </div>

                <div class="results">
                    @foreach (var drug in Model.drugsCure)
                    {
                        <div class="symptom">
                            <div class="drug">
                                <p class="drugName"><b>@drug.drugName</b></p>
                                <p class="toxicity"> Indication : @drug.indication </p>
                            </div>
                            <br>
                            <p><span class="score">Score: @drug.drugScore</span>        <span class="source">Source: @drug.sourceDoc</span></p>
                        </div>
                        <hr class="border border-danger border-2 opacity-50">
                    }
                    
            </div>
            }
        </div>
    </div>
    
</div>

<script type="text/javascript">
    var elements = document.getElementsByClassName('score');
    elementsLength = elements.length;
    for (var i = 0 ; i < elementsLength ; i++) {
        score = parseFloat(elements[i].innerHTML.replace("Score: ", ""));
        if(score < 1){
            elements[i].style.color = '#F25F53'
        }
        else if (score < 5) {
            elements[i].style.color = '#F5940F'
        }
        else if (score < 14) {
            elements[i].style.color = '#F3F931'
        }
        else {
            elements[i].style.color = '#6DF3A0'
        }
    }

</script>

<style>
    /* Reset default browser styles */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* Body styles */
    header {
        background-color: #36393f;
        color: #ffffff;
        font-family: Arial, sans-serif;
    }

    body {
        background-color: #36393f;
        color: #ffffff;
        font-family: Arial, sans-serif;
    }

    /* Container styles */
    .container {
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    .drugName{
        font-weight:bold;
    }
    /* Search field styles */
    .search-field {
        width: 100%;
        padding: 10px;
        border: none;
        margin-right:20px;
        border-radius: 4px;
        background-color: #40444b;
        color: #ffffff;
        font-size: 16px;
        flex:7;
    }

    .logoTitleFlex{
        display:inline-flex;
    }

    .logoFlex{
        color: #f0ad4e;
        font-weight: bold;
        flex:auto;
    }

    .titleFlex {
        color: #f0ad4e;
        
        flex: auto;
        margin-left:5px;
        font-size:3em;
        line-height:0.5;
        margin-top:18px;
    }

    /* Submit button styles */
    .submit-button {
        height: 45px;
        display: block;
        width: 20%;
        
        border: none;
        border-radius: 4px;
        background-color: #cc7a00;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        flex:1;
      
    }

    /* Research results styles */
    .results {
        margin-top: 20px;
        overflow-y: auto;
        max-height: 750px;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background-color: #2D2D2D;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #ff9e4f;
        border-radius: 10px;
        border: 3px solid #2D2D2D;
    }

    /* Symptom styles */
    .symptom {
        margin-bottom: 20px;
        padding: 10px;
        background-color: #2f3136;
        border-radius: 4px;
    }

        /* Symptom score styles */
        .symptom .score{
            font-weight: bold;
            color: #5bc0de;
        }

        .source{
            font-weight: bold;
            color: #5bc0de;
        }

        /* Symptom definition styles */
        .symptom .definition {
            margin-top: 10px;
            font-size: 16px;
        }

    /* Disease styles */
    .disease {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #cc7a00;
        border-radius: 4px;
        background-color: #2f3136;
    }

    /* Cure styles */
    .cure {
        margin-top: 10px;
        padding-left: 10px;
        font-size: 14px;
    }

    /* Drugs styles */
    .drug {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #5cb85c;
        border-radius: 4px;
        background-color: #2f3136;
    }

    /* Global cure styles */
    .global-cure {
        margin-top: 10px;
        padding-left: 10px;
        font-size: 16px;
        font-weight: bold;
    }

    .flexInput{
        width:100%;
        display:inline-flex;
    }

</style>
