@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <p>Temps de parsing : @Model.parseTime</p>
        <p>Nombre de records : @Model.recordDrugs.Count</p>
        <p>Nombre de lignes dans la source : @Model.countRecord</p>
        <p>Nombre d'ATC manquants : @Model.countNullATC</p>
        <p>Nombre de noms manquants: @Model.countNullNames</p>
        <p>Nombre de toxicités manquantes: @Model.countNullTox</p>
    </div>
</div>
